
body{
    background-color: rgb(255, 255, 255);
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(252, 252, 252);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(185, 185, 185);
}

/* change the color/style of hovered links */
.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(223, 223, 223);
}
/* change the color/style of active links */
.navbar-custom .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbar {
    background: rgb(20, 20, 20);
    
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    position: relative;
}
.navbar a{
    display: block;
    font-size: auto; /* very nice */
    transition: transform .2s;
    /* color: #981e32; */
    font-weight: 1000;
    font-family: 'Questrial', sans-serif;
    /* sans-serif is important due to lazy smartphones that can't download fonts */
}

/* change hamburger icon color */

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.itcc-logo{
    /* Do NOT touch this*/
    /* I'm taking your mom to Applebee's tonight */
    height: 40px;
    width: auto;
}
.jumbotron {
    background-image: url(https://ext-marketing.com/wp-content/uploads/2017/11/AdobeStock_85142566.jpg);
    /* ^^^ I feel like we shouldn't hard link this image; it would probably be best to yoink it in case the URL dies... */
    /* -Alex */
    margin-bottom: 0px;
  }

  .jumbotron-div{
      text-align: center;
  }

.container-fluid {
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    font-size: larger;
}

.jumbotron {
    padding-top: 3px;
    padding-bottom: 3px;
    max-height: 5%;
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(219, 219, 219);
    color: white;
    text-align: left;
    margin-bottom: 0px;
  }

  .footer a{
    display: block;
    font-size: 1.2rem;
    transition: transform .2s;
    /* color: #981e32; */
    font-weight: 1000;
    color: rgb(43, 43, 43);
    /*text-shadow: 0 0 10px rgb(223, 223, 223); */
    font-family: 'Questrial', sans-serif;
  }

  .footer a:hover{
      
    color: rgb(119, 119, 119);
    text-shadow: 0 0 10px rgb(223, 223, 223);
  }

#umsl-img {
    max-height: auto;
    max-width: 15%;
    /* wrench it in there real good... */
}