.navbar {
    background: #fff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    position: relative;
}
.navbar a{
    display: block;
    font-size: 1.2rem;
    transition: transform .2s;


}
.navbar a:hover{
    /* text-decoration: underline; */
    font-weight: bold;
    transform: scale(1.10);
    
}

.itcc-logo{
    height: 100px;
    width: 100px;
}

.jumbotron-div {
    text-align: center;

    
}


/* .umsl-img{
    
} */

.itcc-h1{
    font-size: 120px;
    /* font-family: 'Share Tech Mono', monospace; */
    font-family: 'Orbitron', sans-serif;
    /* font-weight: 200; */
}
